.box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*background-color: hotpink;*/
}

.container {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    background-color: #8affc3;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 40%;
    height: 85%;
    text-align: center;
}

.secondaryContent {
    justify-self: end;
    width: 70%;
    height: 15%;
    text-align: center;
}

.contHit {
    width: 500px;
    height: 500px;
    background-image: url("../hitman.jpeg");
}

.total {
    transition: 0.4s;
    font-size: 150px;
    text-align: center;
}

.btn {
    cursor: pointer;
    padding: 20px 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgba(20, 14, 13, 0.59);
}

.disabled {
    opacity: 0.5;
}

.totalMax {
    transition: 0.4s;
    transform: scale(1.5);
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px hotpink, 0 0 6px hotpink, 0 0 10px red;
    color: hotpink;
    animation: glow 0.3s ease-in-out infinite alternate;
}

.setInput {
    text-align: center;
    width: 80px;
    height: 80px;
    font-size: 50px;
    padding: 5px 10px;
    border: 4px solid gray;
    border-radius: 5px;
}

.setInputLabel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;

}

.error {
    border: 2px solid rgba(255, 6, 72, 0.98);
    animation: glowError 0.3s ease-in-out infinite alternate;
}

.errorMessage {
    color: rgba(255, 6, 72, 0.98);
    font-size: 14px;
}

@keyframes glow {
    from {
        text-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px hotpink, 0 0 6px hotpink, 0 0 10px red
    }

    to {
        text-shadow: 0 0 1px white, 0 0 2px white, 0 0 8px hotpink, 0 0 12px hotpink, 0 0 25px red
    }
}

@keyframes glowError {
    from {
        box-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px red, 0 0 6px red, 0 0 10px red
    }

    to {
        box-shadow: 0 0 1px white, 0 0 2px white, 0 0 8px red, 0 0 12px red, 0 0 25px red
    }
}
